body {
    font-family: 'Arial', sans-serif;
    background-image: url("../assets/img/bg.jpg");
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    box-shadow: 0 0 60px rgba(229, 71, 71, 0.1), 0 0 40px rgba(0, 213, 255, 0.8);
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    transform: scale(1);
    text-align: center;
    transition: height 0.3s ease-in-out, width 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.login-container:hover {
    height: 22 0px;
    width: 305px;
    transform: scale(1.05);
}

/* Add any additional styling you want for the input */
input {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
    font-family: 'Your Custom Font', sans-serif;
    font-weight: bold;
    /* Make the font bold */
}

input:focus {
    border-color: #4285f4;
}


h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #555;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
    font-family: 'Your Custom Font', sans-serif;
    /* Add your custom font here */
    font-weight: bold;
    /* Make the font bold */
}

input:focus {
    border-color: #4285f4;
}

button {
    padding: 10px 15px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #3367d6;
}